*.exe
*.dll
*.zip
*.7z
*.layout
*.save
*.BAK*
*.OLD*
*.ORIG*
*.wiki
*.wings~
*.sdf
*.suo
*.db
*.vcxproj.user
*.opensdf
*.a
*.depend
android/libs/
android/obj/
Box2D*/
API/
cb/obj/
*downloads/
lib/
obj/
old/
com.rado1.*/
Release/
Debug/
ipch/